In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [5]:
#check to see if there are any blank rows
blanks = school_data_complete.isnull().sum()
blanks

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
School ID        0
type             0
size             0
budget           0
dtype: int64

In [6]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [7]:
#Calculate the total number of students
total_stu= school_data_complete["Student ID"].value_counts()
total_students = total_stu.sum()
total_students

39170

In [8]:
#Calculate the total number of schools
total_sch = school_data_complete["School ID"].value_counts()
total_schools = total_sch.nunique()
total_schools

15

In [9]:
#Calculate the average math score
ave_math = round(school_data_complete["math_score"].mean())
ave_math

79

In [10]:
#Calculate the average reading score
ave_reading = round(school_data_complete["reading_score"].mean())
ave_reading

82

In [11]:
#Calculate the overall passing rate
pass_rate = round((ave_math + ave_reading)/2)
pass_rate

80

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
math = school_data_complete[school_data_complete.math_score >= 70]
pass_math = math["math_score"].count()/39170 * 100

pass_math = pass_math.round()
pass_math

75.0

In [13]:
#Calculate the percentage of students with a passing reading score (70 or greater)
reading = school_data_complete[school_data_complete.reading_score >= 70]
pass_read = reading["reading_score"].count()/39170 * 100
pass_reading = pass_read.round()
pass_reading

86.0

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [14]:
#Calculate the total budget # NOT ACCURATE
#total_budget = school_data_complete['budget'].sum()
#total_budget
budget = school_data_complete["budget"].unique()

total_budget = budget.sum()
total_budget

24649428

In [15]:
#Create a dataframe to hold the above results
schools_data = pd.DataFrame({
    "Total Budget":[total_budget],
    "Total # of Schools":[total_schools],
    "Total # of Students":[total_students],
    "Overall Passing Rate":[pass_rate],
    "Average Math Score":[ave_math],
    "% Passing Math":[pass_math],
    "Average Reading Score":[ave_reading],
    "% Passing Reading":[pass_reading]
})
schools_data.head()

,Total Budget,Total # of Schools,Total # of Students,Overall Passing Rate,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading
0,24649428,15,39170,80,79,75.0,82,86.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [16]:
stu_per_school = school_data_complete["school_name"].value_counts()
stu_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
# Using GroupBy in order to separate the data into fields according to "school_name", 
#"type", and "budget".
school_name_df = school_data_complete.groupby(["school_name"])

# In order to be visualized, a data function must be used...
school_name_df.mean().head(10)

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0

In [18]:
read_count_per = school_data_complete[school_data_complete["reading_score"]>= 70].groupby("school_name")["reading_score"].count()
pass_read_per = round(read_count_per/stu_per_school * 100)
pass_read_per

Bailey High School       82.0
Cabrera High School      97.0
Figueroa High School     81.0
Ford High School         79.0
Griffin High School      97.0
Hernandez High School    81.0
Holden High School       96.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         96.0
Rodriguez High School    80.0
Shelton High School      96.0
Thomas High School       97.0
Wilson High School       97.0
Wright High School       97.0
dtype: float64

In [19]:
math_count_per = school_data_complete[school_data_complete["math_score"]>= 70].groupby("school_name")["math_score"].count()
pass_math_per = round(math_count_per/stu_per_school * 100)
pass_math_per

Bailey High School       67.0
Cabrera High School      94.0
Figueroa High School     66.0
Ford High School         68.0
Griffin High School      93.0
Hernandez High School    67.0
Holden High School       93.0
Huang High School        66.0
Johnson High School      66.0
Pena High School         95.0
Rodriguez High School    66.0
Shelton High School      94.0
Thomas High School       93.0
Wilson High School       94.0
Wright High School       93.0
dtype: float64

In [20]:
pass_rate_per = round((pass_math_per + pass_read_per)/2)
pass_rate_per

Bailey High School       74.0
Cabrera High School      96.0
Figueroa High School     74.0
Ford High School         74.0
Griffin High School      95.0
Hernandez High School    74.0
Holden High School       94.0
Huang High School        74.0
Johnson High School      74.0
Pena High School         96.0
Rodriguez High School    73.0
Shelton High School      95.0
Thomas High School       95.0
Wilson High School       96.0
Wright High School       95.0
dtype: float64

In [21]:
read_score_per = school_name_df["reading_score"].mean()
read_score_per

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [22]:
math_score_per = school_name_df["math_score"].mean()
math_score_per

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
#Create a dataframe to hold the above results
per_school_df = pd.DataFrame({
    "# of Students":stu_per_school,
    "School Budget":budget,
})
per_school_df.head()

                       # of Students  School Budget
Bailey High School              4976        1910635
Johnson High School             4761        1884411
Hernandez High School           4635        1056600
Rodriguez High School           3999        3022020
Figueroa High School            2949         917500

In [24]:
budget_per_stu = per_school_df["School Budget"] / per_school_df["# of Students"]
budget_per_stu

Bailey High School        383.970056
Johnson High School       395.801512
Hernandez High School     227.961165
Rodriguez High School     755.693923
Figueroa High School      311.122414
Huang High School         452.373672
Ford High School          394.799562
Wilson High School       1368.781428
Cabrera High School       133.523681
Wright High School        325.476667
Shelton High School       595.911414
Thomas High School       1558.020183
Griffin High School      2108.072207
Pena High School         1833.592516
Holden High School       2442.927400
dtype: float64

In [25]:
school_sum = pd.DataFrame({
    "# of Students":stu_per_school,
    "School Budget":budget,
    "Budget Per Student":budget_per_stu,
    "Average Reading Score":read_score_per,
    "% Passing Reading":pass_read_per,
    "Average Math Score":math_score_per,
    "% Passing Math":pass_math_per,
    "Overall Passing Rate":pass_rate_per
})
school_sum.head()

,# of Students,School Budget,Budget Per Student,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,Overall Passing Rate
Bailey High School,4976,1910635,383.970056,81.033963,82.0,77.048432,67.0,74.0
Cabrera High School,1858,1884411,133.523681,83.975780,97.0,83.061895,94.0,96.0
Figueroa High School,2949,1056600,311.122414,81.158020,81.0,76.711767,66.0,74.0
Ford High School,2739,3022020,394.799562,80.746258,79.0,77.102592,68.0,74.0
Griffin High School,1468,917500,2108.072207,83.816757,97.0,83.351499,93.0,95.0

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [26]:
school_sum.sort_values("Overall Passing Rate", ascending=False).head(5)

,# of Students,School Budget,Budget Per Student,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,Overall Passing Rate
Cabrera High School,1858,1884411,133.523681,83.975780,97.0,83.061895,94.0,96.0
Pena High School,962,585858,1833.592516,84.044699,96.0,83.839917,95.0,96.0
Wilson High School,2283,1763916,1368.781428,83.989488,97.0,83.274201,94.0,96.0
Griffin High School,1468,917500,2108.072207,83.816757,97.0,83.351499,93.0,95.0
Shelton High School,1761,2547363,595.911414,83.725724,96.0,83.359455,94.0,95.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [27]:
school_sum.sort_values("Overall Passing Rate", ascending=True).head(5)

,# of Students,School Budget,Budget Per Student,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,Overall Passing Rate
Rodriguez High School,3999,1049400,755.693923,80.744686,80.0,76.842711,66.0,73.0
Bailey High School,4976,1910635,383.970056,81.033963,82.0,77.048432,67.0,74.0
Figueroa High School,2949,1056600,311.122414,81.158020,81.0,76.711767,66.0,74.0
Ford High School,2739,3022020,394.799562,80.746258,79.0,77.102592,68.0,74.0
Hernandez High School,4635,1319574,227.961165,80.934412,81.0,77.289752,67.0,74.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [37]:
df = school_data_complete.groupby(["school_name", "grade"])["math_score"].mean()
df

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [29]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [30]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.