In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [68]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [93]:
school_data_complete[["school_name","budget"]].nunique()

scho = df.loc[df["first_name"] == "Billy", :]
print(only_billys)

school_name    15
budget         15
dtype: int64

In [6]:
#check to see if there are any blank rows
blanks = school_data_complete.isnull().sum()
blanks

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
School ID        0
type             0
size             0
budget           0
dtype: int64

In [26]:
#Calculate the total number of students
total_stu= school_data_complete["Student ID"].value_counts()
total_students = total_stu.sum()
total_students

39170

In [24]:
#Calculate the total number of schools
total_sch = school_data_complete["School ID"].value_counts()
total_schools = total_sch .nunique()
total_schools

15

In [91]:
#Calculate the total budget
total_budget = school_data_complete["budget"].value_counts()
total_budget.head()

3124928    4976
3094650    4761
3022020    4635
2547363    3999
1884411    2949
Name: budget, dtype: int64

In [21]:
#Calculate the average math score
ave_math = round(school_data_complete["math_score"].mean())
ave_math

79

In [19]:
#Calculate the average reading score
ave_reading = round(school_data_complete["reading_score"].mean())
ave_reading

82

In [20]:
#Calculate the overall passing rate
pass_rate = round((ave_math + ave_reading)/2)
pass_rate

80

In [27]:
#Calculate the percentage of students with a passing math score (70 or greater)
math = school_data_complete[school_data_complete.math_score >= 70]
pass_m = math["math_score"].count()/39170 * 100

pass_math = pass_m.round()
pass_math

75.0

In [45]:
#Calculate the percentage of students with a passing reading score (70 or greater)
reading = school_data_complete[school_data_complete.reading_score >= 70]
pass_read = reading["reading_score"].count()/39170 * 100
pass_reading = pass_read.round()
pass_reading

86.0

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [50]:
#Create a dataframe to hold the above results
schools_data = pd.DataFrame({
    "Total Budget":[total_budget],
    "Total # of Schools":[total_schools],
    "Total # of Students":[total_students],
    "Overall Passing Rate":[pass_rate],
    "Average Math Score":[ave_math],
    "% Passing Math":[pass_math],
    "Average Reading Score":[ave_reading],
    "% Passing Reading":[pass_reading]
  
    
})
schools_data.head()

,Total Budget,Total # of Schools,Total # of Students,Overall Passing Rate,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading
0,82932329558,15,39170,80,79,75.0,82,86.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [55]:
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [53]:
school_data_complete["student_name"],["school_type".head(10)

0         Paul Bradley
1         Victor Smith
2      Kevin Rodriguez
3    Dr. Richard Scott
4           Bonnie Ray
5        Bryan Miranda
6        Sheena Carter
7         Nicole Baker
8         Michael Roth
9       Matthew Greene
Name: student_name, dtype: object

In [ ]:
schools_summary = pd.DataFrame({
    "Total Budget":[total_budget],
    "Total # of Schools":[total_schools],
    "Total # of Students":[total_students],
    "Overall Passing Rate":[pass_rate],
    "Average Math Score":[ave_math],
    "% Passing Math":[pass_math],
    "Average Reading Score":[ave_reading],
    "% Passing Reading":[pass_reading]
  
    
})
schools_data.head()

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.