In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [5]:
#check to see if there are any blank rows
blanks = school_data_complete.isnull().sum()
blanks

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
School ID        0
type             0
size             0
budget           0
dtype: int64

In [6]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [7]:
#Calculate the total number of students
total_stu= school_data_complete["Student ID"].value_counts()
total_students = total_stu.sum()
total_students

39170

In [8]:
#Calculate the total number of schools
total_sch = school_data_complete["School ID"].value_counts()
total_schools = total_sch.nunique()
total_schools

15

In [9]:
#Calculate the average math score
ave_math = round(school_data_complete["math_score"].mean())
ave_math

79

In [10]:
#Calculate the average reading score
ave_reading = round(school_data_complete["reading_score"].mean())
ave_reading

82

In [11]:
#Calculate the overall passing rate
pass_rate = round((ave_math + ave_reading)/2)
pass_rate

80

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
math = school_data_complete[school_data_complete.math_score >= 70]
pass_math = math["math_score"].count()/39170 * 100

pass_math = pass_math.round()
pass_math

75.0

In [13]:
#Calculate the percentage of students with a passing reading score (70 or greater)
reading = school_data_complete[school_data_complete.reading_score >= 70]
pass_read = reading["reading_score"].count()/39170 * 100
pass_reading = pass_read.round()
pass_reading

86.0

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [14]:
#Calculate the total budget # NOT ACCURATE
#total_budget = school_data_complete['budget'].sum()
#total_budget
budget = school_data_complete["budget"].unique()

total_budget = budget.sum()
total_budget

24649428

In [15]:
#Create a dataframe to hold the above results
schools_data = pd.DataFrame({
    "Total Budget":[total_budget],
    "Total # of Schools":[total_schools],
    "Total # of Students":[total_students],
    "Overall Passing Rate":[pass_rate],
    "Average Math Score":[ave_math],
    "% Passing Math":[pass_math],
    "Average Reading Score":[ave_reading],
    "% Passing Reading":[pass_reading]
})
schools_data.head()

,Total Budget,Total # of Schools,Total # of Students,Overall Passing Rate,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading
0,24649428,15,39170,80,79,75.0,82,86.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [16]:
# Total students per school
stu_per_school = school_data_complete["school_name"].value_counts()
stu_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [27]:
budget_per_school = school_data.set_index(["school_name"])["budget"]
budget_per_school

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [18]:
# Using GroupBy in order to separate the data into fields according to "school_name", 
#"type", and "budget".
school_name_df = school_data_complete.groupby(["school_name"])

# In order to be visualized, a data function must be used...
school_name_df.mean().head(3)

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0

In [19]:
type_school = school_data.set_index("school_name")["type"]
type_school

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [20]:
read_count_per = school_data_complete[school_data_complete["reading_score"]>= 70].groupby("school_name")["reading_score"].count()
pass_read_per = round(read_count_per/stu_per_school * 100)
pass_read_per

Bailey High School       82.0
Cabrera High School      97.0
Figueroa High School     81.0
Ford High School         79.0
Griffin High School      97.0
Hernandez High School    81.0
Holden High School       96.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         96.0
Rodriguez High School    80.0
Shelton High School      96.0
Thomas High School       97.0
Wilson High School       97.0
Wright High School       97.0
dtype: float64

In [21]:
math_count_per = school_data_complete[school_data_complete["math_score"]>= 70].groupby("school_name")["math_score"].count()
pass_math_per = round(math_count_per/stu_per_school * 100)
pass_math_per

Bailey High School       67.0
Cabrera High School      94.0
Figueroa High School     66.0
Ford High School         68.0
Griffin High School      93.0
Hernandez High School    67.0
Holden High School       93.0
Huang High School        66.0
Johnson High School      66.0
Pena High School         95.0
Rodriguez High School    66.0
Shelton High School      94.0
Thomas High School       93.0
Wilson High School       94.0
Wright High School       93.0
dtype: float64

In [22]:
pass_rate_per = round((pass_math_per + pass_read_per)/2)
pass_rate_per

Bailey High School       74.0
Cabrera High School      96.0
Figueroa High School     74.0
Ford High School         74.0
Griffin High School      95.0
Hernandez High School    74.0
Holden High School       94.0
Huang High School        74.0
Johnson High School      74.0
Pena High School         96.0
Rodriguez High School    73.0
Shelton High School      95.0
Thomas High School       95.0
Wilson High School       96.0
Wright High School       95.0
dtype: float64

In [23]:
read_score_per = school_name_df["reading_score"].mean()
read_score_per

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
math_score_per = school_name_df["math_score"].mean()
math_score_per

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [28]:
budget_per_stu = budget_per_school/ stu_per_school

budget_per_stu

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [30]:
school_sum = pd.DataFrame({
    "School Type":type_school,
    "# of Students":stu_per_school,
    "School Budget":budget_per_school,
    "Budget Per Student":budget_per_stu,
    "Average Reading Score":read_score_per,
    "% Passing Reading":pass_read_per,
    "Average Math Score":math_score_per,
    "% Passing Math":pass_math_per,
    "Overall Passing Rate":pass_rate_per,
    
})
school_sum.head()

,School Type,# of Students,School Budget,Budget Per Student,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,81.033963,82.0,77.048432,67.0,74.0
Cabrera High School,Charter,1858,1081356,582.0,83.975780,97.0,83.061895,94.0,96.0
Figueroa High School,District,2949,1884411,639.0,81.158020,81.0,76.711767,66.0,74.0
Ford High School,District,2739,1763916,644.0,80.746258,79.0,77.102592,68.0,74.0
Griffin High School,Charter,1468,917500,625.0,83.816757,97.0,83.351499,93.0,95.0

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [34]:
school_sum.sort_values("Overall Passing Rate", ascending=False).head(5)

,School Type,# of Students,School Budget,Budget Per Student,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.975780,97.0,83.061895,94.0,96.0
Pena High School,Charter,962,585858,609.0,84.044699,96.0,83.839917,95.0,96.0
Wilson High School,Charter,2283,1319574,578.0,83.989488,97.0,83.274201,94.0,96.0
Griffin High School,Charter,1468,917500,625.0,83.816757,97.0,83.351499,93.0,95.0
Shelton High School,Charter,1761,1056600,600.0,83.725724,96.0,83.359455,94.0,95.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [36]:
school_sum.sort_values("Overall Passing Rate", ascending=True).head(5)

,School Type,# of Students,School Budget,Budget Per Student,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,80.744686,80.0,76.842711,66.0,73.0
Bailey High School,District,4976,3124928,628.0,81.033963,82.0,77.048432,67.0,74.0
Figueroa High School,District,2949,1884411,639.0,81.158020,81.0,76.711767,66.0,74.0
Ford High School,District,2739,1763916,644.0,80.746258,79.0,77.102592,68.0,74.0
Hernandez High School,District,4635,3022020,652.0,80.934412,81.0,77.289752,67.0,74.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [37]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
ninth_graders_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
ninth_graders_math_scores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [38]:
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
tenth_graders_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_math_scores

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [39]:
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [40]:
twelveth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
twelveth_graders_math_scores = twelveth_graders.groupby(["school_name"]).mean()["math_score"]
twelveth_graders_math_scores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [41]:
ninth_graders_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
ninth_graders_reading_scores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [42]:
tenth_graders_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_reading_scores

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [43]:
eleventh_graders_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_reading_scores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [44]:
twelveth_graders_reading_scores = twelveth_graders.groupby(["school_name"]).mean()["reading_score"]
twelveth_graders_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [45]:
scores_by_math_grade = pd.DataFrame({
    "9th Math": ninth_graders_math_scores,
    "10th Math":tenth_graders_math_scores,
    "11th Math":eleventh_graders_math_scores,
    "12th Math":twelveth_graders_math_scores,
                               })
scores_by_math_grade

                        9th Math  10th Math  11th Math  12th Math
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [46]:
scores_by_reading_grade = pd.DataFrame({
    "9th Reading":ninth_graders_reading_scores,
    "10th Reading":tenth_graders_reading_scores,
    "11th Reading":eleventh_graders_reading_scores,
    "12th Reading":twelveth_graders_reading_scores
                               })
scores_by_reading_grade

                       9th Reading  10th Reading  11th Reading  12th Reading
school_name
Bailey High School       81.303155     80.907183     80.945643     80.912451
Cabrera High School      83.676136     84.253219     83.788382     84.287958
Figueroa High School     81.198598     81.408912     80.640339     81.384863
Ford High School         80.632653     81.262712     80.403642     80.662338
Griffin High School      83.369193     83.706897     84.288089     84.013699
Hernandez High School    80.866860     80.660147     81.396140     80.857143
Holden High School       83.677165     83.324561     83.815534     84.698795
Huang High School        81.290284     81.512386     81.417476     80.305983
Johnson High School      81.260714     80.773431     80.616027     81.227564
Pena High School         83.807273     83.612000     84.335938     84.591160
Rodriguez High School    80.993127     80.629808     80.864811     80.376426
Shelton High School      84.122642     83.441964     84.373786     82.781671
Thomas High School       83.728850     84.254157     83.585542     83.831361
Wilson High School       83.939778     84.021452     83.764608     84.317673
Wright High School       83.833333     83.812757     84.156322     84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [52]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-$615", "$615-$675", ">$675"]

In [53]:
school_sum["Spending Ranges (Per Student)"] = pd.cut(school_sum["Budget Per Student"], spending_bins, labels=group_names)
Spending_ranges_sum = school_sum.groupby("Spending Ranges (Per Student)")

Spending_ranges_sum [["Average Reading Score", "Average Math Score", "% Passing Reading","% Passing Math","Overall Passing Rate"]].mean()

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.933814,83.455399,96.75,93.500000,95.250000
$585-$615,83.885211,83.599686,96.00,94.500000,95.500000
$615-$675,81.891436,79.079225,86.00,75.500000,80.833333
>$675,81.027843,76.997210,81.00,66.333333,74.000000

## Scores by School Size

* Perform the same operations as above, based on school size.

In [54]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [55]:
school_sum["School Size"] = pd.cut(school_sum["# of Students"], size_bins, labels=group_names)
school_size = school_sum.groupby("School Size")
school_size[["Average Reading Score", "Average Math Score", "% Passing Reading","% Passing Math","Overall Passing Rate"]].mean()

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
School Size,,,,,
Small (<1000),83.929843,83.821598,96.00,94.0,95.000
Medium (1000-2000),83.864438,83.374684,96.80,93.4,95.200
Large (2000-5000),81.344493,77.746417,82.75,70.0,76.625

## Scores by School Type

* Perform the same operations as above, based on school type.

In [57]:
school_type = school_sum.groupby(["School Type"])
school_type[["Average Reading Score", "Average Math Score", "% Passing Reading","% Passing Math","Overall Passing Rate"]].mean()

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
School Type,,,,,
Charter,83.896421,83.473852,96.625000,93.625000,95.250000
District,80.966636,76.956733,80.714286,66.571429,73.857143

In [ ]:
# Observations
# There are two main clear overservation from looking at the data.The first observation is the charter schools 
#seem to be performing higher than the Districts in all mearsurements, especially passing math. The second 
#is how the size if the school affects the scores. It seems in most cases the smaller the school size the 
#better th